section h1 {
  padding: 15px 0;
  margin: 30px 0;
  text-align: center;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.main-body .slide {
  margin-bottom: 50px;
  box-shadow: 4px 3px 10px #dcdcdc;
  position: relative;
  overflow: hidden;
  display: block;
  text-decoration: none;
}
.main-body .slide .img img {
  width: 100%;
}
.main-body .slide .content {
  padding: 1px 12px 15px;
  height: 118px;
}
.main-body .slide .content h3 {
  color: #ec0044;
  text-align: left;
}
.main-body .slide .content span {
    font-size: 14px;
    color: #858D95;
    position: absolute;
    top: 92%;
    right: 5%;
}
.main-body .slide .mask {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000040;
  transition: top .35s;
    color: #fff;
    font-size: 36px;
    text-align: center;
    padding-top: 30%;
}
.main-body .slide:hover .mask {
    top: 0;
}
.main-body .slide:hover .content h3 {
    color: #34414A;
}